@import "~materialize-css/sass/components/color";

$roboto-font-path: './assets/fonts/roboto/';

$primary-color: color("blue-grey", "lighten-4");
$primary-color-light: false;
$primary-color-dark: false;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}

@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}

$secondary-color: color("blue-grey", "darken-2");
$success-color: color("green", "base");
$error-color: color("red", "base");

$link-color: color("light-blue", "darken-1");

/*** More variables not shown here.. ***/
